body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e; /* Colore di sfondo scuro */
    color: #f0f0f0; /* Colore del testo chiaro */
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #252526; /* Un tono leggermente più chiaro per il contenitore */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
    color: #49c8a0; /* Colore del titolo */
}

h2 {
    font-size: 2em;
    margin: 5px 0;
    text-decoration: underline; /* Sottolinea il titolo */
    color: #3988d6; /* Colore per il sottotitolo */
}

p {
    font-size: 1.2em;
    margin-top: 10px;
    color: #f0f0f0; /* Colore del testo chiaro */
}

/* Aggiunta di stili per i link */
a {
    color: #9062ca; /* Colore dei link */
    text-decoration: none; /* Rimuove la sottolineatura */
}

a:hover {
    text-decoration: underline; /* Sottolinea il link al passaggio del mouse */
}

/* Aggiunta di un bottone */
.button {
    background-color: #98c379; /* Colore di sfondo per i bottoni */
    color: #1e1e1e; /* Colore del testo del bottone */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #49c8a0; /* Cambia colore al passaggio del mouse */
}
